@use "sass:list";
@import '~compass-mixins/lib/compass/css3';
@import './index.scss';

$hexagon-plain-color: #eeeeee;
$panel-color: #cccccccc;



.container {
  position: relative;
  @include transition(all .3s ease-out);
  height: 700px;
  width: 1200px;
  @include perspective(1600px);
  z-index: 10;
  overflow: hidden;

  .honeycomb {
    display: block;
    position: absolute;
    margin-left: -465px;
    left: 50%;
    text-align: center;
    height: 650px;
    width: 930px;
    @include transform(rotateX(45deg) rotateY(0deg));
    @include transform-style(preserve-3d);
    @include transform-origin(center, 55%);
    z-index: 5;

    .column {
      display: block;
      float: left;
      width: 62px;
      transform-style: preserve-3d;

      &:nth-child(even) {
        margin-top: 36px;
      }
    }

    a[class*="hex-aff-illumed-"] {
      @include opacity(1);
    }

    a[class*="hex-aff-othered-"] {
      @include opacity(0.85);
    }

    @for $i from 0 through 4 {}

    .hex {
      display: block;
      position: relative;
      float: left;
      margin: 0;
      height: 72px;
      width: 62px;
      color: #fff;
      cursor: pointer;
      text-decoration: none;
      @include transform-style(preserve-3d);
      @include transition(all .3s ease-out);
      @include opacity(0.5);

      &:hover,
      &.hovered {
        opacity: 1;
        @include transform(translateZ(20px));
        @include transition-duration(200ms);

        .content {
          @include opacity(1);
          @include transform(rotateX(-90deg) translateX(-50%) translateX(18px) translateZ(-80px) translateY(-70px));
          background-color: $panel-color;
        }
      }

      .wrapper {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        .hex-color-plain {
          background: $hexagon-plain-color;

          &:before {
            border-right-color: $hexagon-plain-color;
          }

          &:after {
            border-left-color: $hexagon-plain-color;
          }
        }

        small.wo-count {
          position: absolute;
          top: 20px;
          left: 12px;
          font-size: 18px;
          color: slateblue;
          font-weight: bolder;
        }
      }

      .content {
        display: block;
        position: absolute;
        top: 0;
        text-align: center;
        //width: 200px;
        @include opacity(0);
        @include transition(all .3s ease-out .1s);
        @include transform(rotateX(-90deg) translateX(-50%) translateX(18px) translateZ(-80px) translateY(-70px));
        -webkit-font-smoothing: antialiased;
        padding: 10px;
        border-radius: 5px;

        strong {
          display: block;
          font-weight: 600;
          font-size: 25px;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.8);
        }

        small {
          display: block;
          font-size: 18px;
          white-space: nowrap;

          &.trade-selector:hover {
            color: slateblue;
          }

        }

        div[class*="small-hex-"],
        div[class*="small-outer-hex-"] {
          display: inline-block;
          width: 9px;
          height: 15px;
          position: relative;

          &:before,
          &:after {
            content: "";
            position: relative;
            float: left;
            border-top: 7.5px solid transparent;
            border-bottom: 7.5px solid transparent;
          }
        }

        div[class*="small-inner-hex-"] {
          display: inline-block;
          width: 6px;
          height: 10px;
          position: relative;
          left: -7.5px;
          top: -2.5px;
          background-color: #eeeeee;

          &:before,
          &:after {
            content: "";
            position: relative;
            float: left;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
          }

          &:before {
            border-right: 3px solid #eeeeee;
            left: -3px;
          }

          &:after {
            border-left: 3px solid #eeeeee;
            right: -3px;
          }
        }

        i.wo-count {
          font-size: 18px;
          color: slateblue;
          font-weight: bolder;
        }

        @for $i from 0 through 4 {

          .small-hex-#{$i},
          .small-outer-hex-#{$i} {
            background-color: list.nth($hexagon-aff-colors, $i + 1);

            &:before {
              border-right: 4.5px solid list.nth($hexagon-aff-colors, $i + 1);
              left: -4.5px
            }

            &:after {
              border-left: 4.5px solid list.nth($hexagon-aff-colors, $i + 1);
              right: -4.5px;
            }
          }
        }
      }
    }

    .shadows {
      display: block;
      position: absolute;
      top: -15%;
      left: -15%;
      height: 130%;
      width: 130%;
      @include background-image(radial-gradient(closest-side, rgba(71, 73, 77, 0), #171d25));
      @include opacity(0.4);
      @include transform(translateZ(10px));
      pointer-events: none;
    }
  }
}

.hexagon {
  display: block;
  position: absolute;
  width: 36px;
  height: 62px;
  background-color: #ffffff;

  &:before,
  &:after {
    content: "";
    position: relative;
    float: left;
    border-top: 31px solid transparent;
    border-bottom: 31px solid transparent;
  }

  &:before {
    border-right: 18px solid #ffffff;
    left: -18px;
  }

  &:after {
    border-left: 18px solid #ffffff;
    right: -18px;
  }

  .aff {
    z-index: 30;
  }

  &.hex-aff-transparent {
    background: transparent;

    &:before {
      border: none;
    }

    &::after {
      border: none;
    }
  }

  @for $i from 0 through 4 {

    &.hex-aff-center-#{$i},
    &.hex-aff-illumed-#{$i},
    &.hex-aff-othered-#{$i} {
      background: list.nth($hexagon-aff-colors, $i + 1);

      &:before {
        border-right-color: list.nth($hexagon-aff-colors, $i + 1);
      }

      &:after {
        border-left-color: list.nth($hexagon-aff-colors, $i + 1);
      }
    }

    &.hex-aff-servicing-#{$i} {
      display: block;
      position: absolute;
      left: 6px; //3px;
      top: 10px; //5px;
      width: 24px; //30px;
      height: 42px; //52px;
      background: #eeeeee;

      &:before,
      &:after {
        content: "";
        position: relative;
        float: left;
        border-top: 21px solid transparent; //26px
        border-bottom: 21px solid transparent; //26px
      }


      &:before {
        border-right: 12px solid; //15
        left: -12px;
        border-right-color: #eeeeee;
      }

      &:after {
        border-left: 12px solid;
        right: -12px;
        border-left-color: #eeeeee;
      }
    }
  }
}

.hidden {
  display: none;
}