$hexagon-aff-colors: #ffbc06, #00ff6a, #00d9ff, #ff00b7, #2200ff;

body {
    background-color: #171d25;
    font-family: Verdana, sans-serif;
    line-height: 1.1;
}

#root {
    display: flex;

    .container {
        flex: 0 0 65%;
    }

    .sided {
        flex: 1;
        //background-color: gray;
        padding: 10px 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.exclamation {
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding: 15px 15px 15px 15px;
    background-color: rgba(204, 204, 204, 0.8);
    border-radius: 8px;
    color: #eeeeee;
}